<html>
<head>
    <title>
        Sell Online - Email Verification
    </title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anek+Odia:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
    <style>
        *{
            font-family: 'Anek Odia', sans-serif;
        }
    </style>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div>
        <h2 style="text-align: center">Sell Online</h2>
        <h4 style="text-align: center;">@ViewData["Email"]</h4>
        <h4 style="text-align: center">Your Email is Verified Successfully</h4>
    </div>
    <hr style="margin-top: 20px">
    <h4 style="text-align: center;">Sell Online &copy 2022</h4>
</body>
</html>